= render 'shared/categories'

%header
	.row
		.container
			%h1
				= t('posts.title')

%section#posts.text-center.grid.swiper-carousel.bg-light-gray
	= render 'shared/featured_posts'

%section.text-center.grid.swiper-carousel.bg-white
	= render 'shared/posts'	

:javascript
	$(function() {
		var swiper = new Swiper('#posts .swiper-container', {
			pagination: '#posts .swiper-pagination',
			slidesPerView: 3,
			paginationClickable: true,
			nextButton: '#posts-arrows .swiper-button-next',
			prevButton: '#posts-arrows .swiper-button-prev',
			spaceBetween: 35,
			breakpoints: {
				1200: {
					slidesPerView: 3,
					spaceBetween: 45
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 15
				},
				460: {
					slidesPerView: 1,
					spaceBetween: 15
				}
			}
		});
	});