/ cities list

%section#cities.text-center.grid
	.row
		.container-fluid
			.col-md-12.cities-list
				.row.title
					.col-md-12
						%h2.section-heading
							Ciudades
							%span
								Inteligentes.
	.row
		.container
			- @cities.each do |city|
				.col-xs-12.col-sm-6.col-md-4.item
					.item-wrap
						= link_to(city_path(city), class: 'item-link') do
							- if city.images.empty?
								.item-photo{:style => "background-image: url(image-not-available.jpg)"}
							- else
								- city.images.each do |image|
									- if image.cover == true
										.item-photo.item-photo-md{:style => "background-image: url(#{image.file.url(:small)})"}
							.item-hover
								.item-hover-content
									#{city.name}