.apps.index{
	header{
		background-color: #4bb3d2;
		background-image: image-url('apps.jpg');
		height: auto;
		h1{
			margin: 100px 0;
			font-weight: 200;
			font-size: 3.5em;
			text-align: left;
		}
	}
}