.categories.show{
	header{
		background-color: #4bb3d2;
		background-image: image-url('projects.jpg');
		height: auto;
		padding: 50px 0;
		h1{
			font-weight: 300;
			font-size: 3.5em;
			text-align: left;
		}
		h2{
			font-weight: 100;
		}
	}
}