/* 01. Projects */


.cities-list{
	}
	.photo{
		position: relative;
		img{
			width: 100%;
			height: auto;
		}
		h1{
			position: absolute;
			color: #fff;
			top: 50%;
			left: 0;
			width: 100%;
			text-align: center;
			transform:translate(0,-50%);
			-ms-transform: translate(0,-50%);
    		-webkit-transform: translate(0,-50%);
    		margin: 0;
    		font-weight: 400;
    		font-size: 2.25em;
		}
	}
.cities.show{
	.posts-list{
		.title{
			h1{
				text-align: left;
			}
		}
	}
	.projects-list{
		background-color: #2c2c2c;
		.title{
			text-align: left;
			background-color: #2c2c2c;
			h1{
				color: #fff;
				text-align: left;
			}
		}
		.item{
			.info{
				.header{
					a{
						color: #fff;
					}
				}
			}
		}
		.item:nth-child(even){
			.photo{
				float: left;
			}
			.info{
				float: right;
			}
		}
	}
}