/* 01. Projects */

body.cities.index{
	.title{
		border-bottom: 1px solid #f3f3f3;
	}
}
body.cities.show{
	.navigation{
		background-color:#fff;
		border-bottom: 1px solid #f3f3f3;
		.logo{
	        background-image: image-url("logo_cyan.svg");
	    }
		a{
	        color: #4BB3D2;
	    }
	}
	
	.menu{
		a{
			color:#4BB3D2;
		}
	}
	.site-canvas{
		margin-top: 76px;
	}
	.featured{
		.border-bottom:0px;
	}
}
.cities-list{
	.photo{
		position: relative;
		height: 320px;
		background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
		img{
			width: 100%;
			height: auto;
		}
		h1{
			position: absolute;
			color: #fff;
			top: 50%;
			left: 0;
			width: 100%;
			text-align: center;
			transform:translate(0,-50%);
			-ms-transform: translate(0,-50%);
    		-webkit-transform: translate(0,-50%);
    		margin: 0;
    		font-weight: 400;
    		font-size: 2.25em;
		}
	}
}
.cities.show{
	.posts-list{
		.title{
			h1{
				text-align: left;
			}
		}
	}
	.projects-list{
		background-color: #2c2c2c;
		.title{
			text-align: left;
			background-color: #2c2c2c;
			h1{
				color: #fff;
				text-align: left;
			}
		}
		.item{
			.info{
				.header{
					a{
						color: #fff;
					}
				}
			}
		}
	}
}
@media (min-width: 768px){
	body.cities.show{
		.projects-list{
			.item:nth-child(odd){
				.photo{
					
				}
				.info{
					float: right;
				}
			}
		}
	}
}
@media (min-width: 1200px){
	body.cities.show{
		.site-canvas{
			margin-top: 0;
		}
		.navigation{
			background-color:transparent;
			border-bottom:0px;
			.logo{
		        background-image: image-url("logo.svg");
		    }
		}
		.navigation.white{
			background-color:#fff;
			border-bottom: 1px solid #f3f3f3;
			.logo{
		        background-image: image-url("logo_cyan.svg");
		    }
			a{
		        color: #4BB3D2;
		    }
		}
		.menu{
			a{
				color:#fff;
			}
		}
		.categories.full{
	        opacity: 0;
	    }
	}
}