/* 02. Navbar */

.home{
    header{
        height: calc(100% - 165px);
    }
}
.home.transport{
	header{
		background-color: #4bb3d2;
		background-image: image-url('projects.jpg');
		height: auto;
		padding: 50px 0;
		h1{
			font-weight: 200;
			font-size: 3.5em;
			text-align: left;
		}
	}
}
@media (min-width:768px) {

}