.posts.index, .posts.transport, .posts.development, .posts.environment, .posts.community, .posts.innovation{
	header{
		background-color: #4bb3d2;
		background-image: image-url('posts.png');
		height: auto;
		h1{
			margin: 100px 0;
			font-weight: 200;
			font-size: 3.5em;
			text-align: left;
		}
	}
}
.posts.transport{
	header{
		background-color: #3F799E;
	}
}
.posts.development{
	header{
		background-color: #F78406;
	}
}
.posts.environment{
	header{
		background-color: #03D84F;
	}
}
.posts.community{
	header{
		background-color: #8B4B9D;
	}
}
.posts.innovation{
	header{
		background-color: #EAC324;
	}
}
.posts.show{
	.swiper-container{
		height: 460px;
	}
	h2.section-heading{
		font-size: 36px;
		margin-bottom: 15px;
	}
	ul{
		padding: 0 10px;
		p{
			margin: 0;
		}
	}
	#post-detail{
		height: 460px;
		a.post-nav{
			color: #909090;

		}
		.item-actions{
	        background-color: #fff;
	        text-align: center;
	        float: left;
	        width: 100%;
	        .action{
	            border-right: 1px solid #eee;
	            padding-top: 10px;
	            padding-bottom: 10px;
	            a{
	                color: #909090;
	                font-size: 24px;
	            }
	        }
	        .action:last-child{
	            border-right: 0px;
	        }
	    }
	}
}