/*
    ThinkSmart Styles SCSS Index

    01. General
    02. Navbar
    03. Header
    04. Section
    05. Grid
    06. Contact
    07. Categories
    08. Bottom - Footer
    09. Swiper Custom
*/


/* 01. General */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

body, html {
    overflow-x: hidden;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    position: relative;
    letter-spacing: -0.035em;
}
body{
    font-size: 11px;
    background-color: #fff;
    color: #2c2c2c;
}
.container{
    width: 90%;
}

.text-muted {
    color: #777
}
.text-primary {
    color: #fed136;
}
.box{
    padding: 30px;
}
.border-top{
    border-top: 1px solid #eee;
}
p {
    font-size: 14px;
    line-height: 1.75;
    font-weight: 300;
}
p.large {
    font-size: 16px
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}

a {
    color: #4bb3d2;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.035em;
}
h1{
    font-weight: 300;
}
.row.spaced{
    margin-top: 30px;
}

.img-profile{
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: #ccc;
}
.img-centered {
    margin: 0 auto
}
.bg-white {
    background-color: #fff;
}
.bg-light-gray {
    background-color: #fafafa;
}
.bg-darkest-gray {
    background-color: #4c4c4c;
}
.bg-green{
    background-color: #03d84f;
}
.bg-cyan{
    background-color: #4bb3d2;
    h2.section-heading{
        color: #fff;
    }
    p.section-body{
        color: #fff;
    }
}
.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136
}

.btn{
    border-radius: 50px;
}
.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}

.btn-lg{
    font-size: 16px;
}
.btn-xl {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-radius: 50px;
    font-size: 18px;
    padding: 10px 30px;
    border-width: 2px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #ccc;
    background-color: #fff;
    border-color: #fff;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136
}

.btn-grey .badge {
    color: #fed136;
    background-color: #fff
}

.btn-grey {
    color: #ccc;
    background-color: transparent;
    border-color: #ccc;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-radius: 50px;
    border-width: 2px;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
    background-image: none
}

.btn-green {
    color: #fff;
    background-color: #2bde73;
    border-color: #2bde73;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-radius: 50px;
    border-width: 2px;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    color: #2bde73;
    background-color: transparent;
    border-color: #2bde73;
}

.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
    background-image: none
}

.btn-white {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    border-radius: 50px;
    border-width: 2px;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    color: #ccc;
    background-color: #fff;
    border-color: #fff;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
    background-image: none
}

/* 02. Navbar */

.navbar{
    margin-bottom: 0px;
    width: 100%;
    .icon{
        margin-top: 3px;
    }
}
.navbar-default {
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #eee;
    z-index: 1030;
    .navbar-brand {
        color: #4bb3d2;
        font-weight: 200;
        padding: 0;
        margin:7px 0 0 20px !important;
        font-size: 30px;
    }
    .navbar-brand:hover,
    .navbar-brand:focus,
    .navbar-brand:active,
    .navbar-brand.active {
        color: #4bb3d2;
    }
    .navbar-collapse {
        border-color: rgba(255, 255, 255, .02);
    }
    .navbar-toggle {
        background-color: #fff;
        border-color: #fff;
        .icon-bar {
            background-color: #4bb3d2;
        }
    }
    .navbar-toggle:hover,
    .navbar-toggle:focus {
        background-color: #fff;
    }
    .nav li a {
        font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 300;
        color: #909090;
        font-size: 17px;
    }
    .navbar-nav > li > a {
        padding-bottom: 0;
        padding-top: 20px;
    }
    .navbar-default .nav li a:hover,
    .navbar-default .nav li a:focus {
        color: #f3f3f3;
        outline: 0;
    }
    .navbar-nav > .active > a {
        border-radius: 0;
        color: #4bb3d2;
        background-color: transparent;
    }
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        color: #4bb3d2;
        background-color: #fff;
    }
}
.navbar-default.white{
    background-color: transparent;
    border:none;
    .navbar-brand {
        color: #fff;
    }
    .nav li a{
        color: #fff;
    }
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 10px 0;
        border: 0;
        border-bottom: 1px solid #eee;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        .navbar-brand {
            i{
                font-size: 40px;
                float: left;
            }
            font-size: 30px;
            color: #4bb3d2;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            font-weight: 200;
            span{
                float: left;
                font-size: 36px;
                margin-top: 12px;
                margin-left: 5px;
            }
        }
        .nav li a {
            color: #909090;
        }
    }
    .navbar-default.navbar-shrink {
        background-color: #fff;
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        .navbar-brand {
            font-size: 1.5em;
            color: #4bb3d2;
        }
        .nav li a {
            color: #909090;
        }
    }
}

/* 03. Header */

header {
    .container{
        height: 100%;
    }
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    height: 85%;
    .intro-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        .intro-lead-in {
            font-family: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 25px;
        }
        .intro-heading {
            font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 50px;
            line-height: 50px;
        }
    }
    .header-img{
        height: 100%;
    }
}

/* 04. Section */

section {
    position: relative;
    padding: 32px 0;
    .section-box{
        .item-progress-box{
            padding: 0px;
            .item-progress{
                width: 100%;
                background-color: #ccc;
                height: 5px;
                border-radius: 5px;
                overflow: hidden;
                .item-progress-bar{
                    width: 50%;
                    background-color: #2bde73;
                    height: 5px;
                }
            }
        }
        .btn{
            margin-top: 30px;
        }
        p.target{
            font-weight: 400;
            font-size: 22px;
            display: inline;
        }
        p.target::after {
            content: " / ";
        }
        p.target:last-child::after {
            content: "";
        }
    }
    h2.section-heading {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 32px;
        font-weight: 200;
        span{
            font-weight: 500;
        }
    }
    h3.section-subheading {
        font-size: 16px;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 75px
    }
    h2.section-title {
        font-size: 24px;
        margin: 15px 0 0 0;
        font-weight: 400;
    }
    h2.section-subtitle {
        font-size: 22px;
        margin-top: 0;
        font-weight: 400;
        line-height: 1.25;
        span{
            color: #a0a0a0;
            font-weight: 300;
        }
    }
    p.section-body {
        font-size: 15px;
        letter-spacing: .2px;
        line-height: 1.75;
        color: #6c6c6c;
        text-transform: none;
        font-weight: 300;
        margin-bottom: 30px;
    }
    p.section-body.date{
        margin: 0;
    }
    .section-box-padding{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section-subinfo{
        padding-left:30px;
        padding-right: 30px;
        p.section-body{
            margin-bottom: 30px;
            text-align: justify;
        }
    }
    .bg-cyan{
        section h2.section-heading{
            color: #fff;
            font-size: 36px;
            margin-bottom: 0px;
        }
        h3.section-subheading {
            color: #fff;
            line-height: 1.5;
        }
        h2.section-title{
            color: #fed136;
            font-weight: 500;
            font-size: 18px;
        }
        .status{
            color: #fff;
        }
    }
    .bg-darkest-gray{
        h2.section-title{
            color: #fff;
        }
        h2.section-heading{
            color: #fff;
            margin-bottom: 0px;
        }
        h2.section-subtitle{
            color: #fff;
        }
        h2.section-title{
            color: #fed136;
        }
        p.section-body {
            color: #ddd;
            font-size: 16px;
        }
        .icons h1{
            color: #fff;
        }
    }
}
section.collapsed{
    padding: 0;
}
.icons{
    padding: 0px 0px 30px 0;
    h1{
        font-size: 12px;
        letter-spacing: normal;
        line-height: 1.5;
        color: #606060;
        text-transform: none;
        font-weight: 300;
        margin-top: 5px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .category, .target{
        border-right: 1px solid #eee;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

/* 05. Grid */

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.no-padding{
    padding: 0;
}
.item-wrap{
    border-radius: 5px;
    overflow: hidden;
    border:1px solid #f7f7f7;
}
.swiper-arrows-custom{
    height: 44px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0 !important;
}
.grid{
    .item {
        margin: 0 0 15px;
        text-align: left;
        .item-link {
            display: block;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            .item-hover {
                background: rgba(75, 179, 210, .9);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease .5s;
                -webkit-transition: all ease .5s;
                -moz-transition: all ease .5s;
                top: 0;
                .item-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: #fff;
                    font-weight: 200;
                    font-size: 24px;
                    i {
                        margin-top: -12px
                    }
                    h3,h4{
                        margin:0;
                    }
                }
            }
            .item-hover:hover {
                opacity: 1
            }
        }
        .item-caption {
            margin: 0 auto;
            background-color: #fff;
            padding: 30px 30px 15px 30px;
            h4 {
                text-transform: none;
                margin: 0;
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 10px;
                min-height: 45px;
            }
            p {
                color: #606060;
                font-size: 15px;
                max-height: 90px;
                overflow: hidden;
                line-height: 1.5;
                
            }
            a {
                font-size: 14px;
                margin: 0;
            }
        }
        .item-progress-box{
            background-color: #fff;
            padding: 0px 30px 30px 30px;
            .item-progress{
                width: 100%;
                background-color: #ccc;
                height: 3px;
                border-radius: 5px;
                overflow: hidden;
                .item-progress-bar{
                    width: 50%;
                    background-color: #2bde73;
                    height: 3px;
                }
            }
        }
        .item-photo {
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .item-photo.item-photo-lg {
            height: 394px;
        }
        .item-photo-md {
            height: 280px;
        }
        .item-photo.item-photo-sm {
            height: 240px;
        }
        .item-photo.item-photo-xs {
            height: 185px;
        }
        .item-actions{
            background-color: #fff;
            border-top: 1px solid #eee;
            text-align: center;
            float: left;
            width: 100%;
            -webkit-border-bottom-right-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            .action{
                border-right: 1px solid #eee;
                padding-top: 10px;
                padding-bottom: 10px;
                a{
                    color: #909090;
                    font-size: 16px;
                }
            }
            .action:last-child{
                border-right: 0px;
            }
        }
    }
    .item.item-lg{
        .item-caption{
            padding-left: 10px;
            h4 {
                font-size: 36px;
                margin-bottom: 15px;
            }
            p {
                font-size: 15px;
            }
            a {
                font-size: 15px;
                margin-top: 15px;
                display: block;
            }
        }
    }
}

.grid * {
    z-index: 2
}
a.item-cat{
    text-transform: capitalize;
    font-weight: 300;
}
a.item-cat.transport{
    color: #406de4;
}
a.item-cat.development{
    color: #f78406;
}
a.item-cat.environment{
    color: #03d84f;
}
a.item-cat.community{
    color: #ad03e5;
}
a.item-cat.innovation{
    color: #eac324;
}
a.item-cat[class^="icon-"]:before,
a.item-cat[class*=" icon-"]:before{
    margin: 7px 5px 0 0;
    float: left;
}
a.item-city{
    color: #909090;
    display: block;
    font-weight: 300;
    
}

/* 06. Contact */


section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat
}

section#contact .section-heading {
    color: #fff
}

section#contact .form-group {
    margin-bottom: 25px
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px
}

section#contact .form-group input.form-control {
    height: auto
}

section#contact .form-group textarea.form-control {
    height: 236px
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none
}

section#contact::-webkit-input-placeholder {
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact:-moz-placeholder {
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact::-moz-placeholder {
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact:-ms-input-placeholder {
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}

section#contact .text-danger {
    color: #e74c3c
}

/* 07. Categories */

section#categories{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    height: 88px;
    .cat-item{
        width: 20%;
        float: left;
        p{
            color: #101010;
            text-transform: uppercase;
            line-height: 1;
            font-weight: 300;
            margin:8px 0;
            font-size: 15px;
        }
        .cat-icon{
            img{
                width: 180px;
                height: auto;
            }
        }
    }
    .cat.transport p{
        color: #3F799E;
    }
    .cat.development p{
        color: #F78406;
    }
    .cat.environment p{
        color: #03D84F;
    }
    .cat.people p{
        color: #05DDDD;
    }
    .cat.community p{
        color: #8B4B9D;
    }
    .cat.innovation p{
        color: #EAC324;
    }
}

/* 08. Bottom - Footer */

section#bottom{
    color: #fff;
    padding: 50px 0;
    h1{
        font-weight: 200;
        font-size: 36px;
    }
    p{
        font-size: 16px;
    }
}
section#bottom-nav{
    a{
        color: #909090;
        font-size: 14px;
        padding: 10px 0;
        margin: 15px 0;
        display: block;
    }
    padding: 0 0 60px 0;
    .item-actions{
        background-color: #fff;
        text-align: center;
        float: left;
        width: 100%;
        .action{
            border-right: 1px solid #eee;
            padding-top: 10px;
            padding-bottom: 10px;
            a{
                color: #909090;
                font-size: 24px;
                margin: 0;
            }
        }
        .action:last-child{
            border-right: 0px;
        }
    }
}


footer {
    padding: 25px 0;
    text-align: center
}

footer span.copyright {
    line-height: 40px;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0
}


::-moz-selection {
    text-shadow: none;
    background: #fed136
}

::selection {
    text-shadow: none;
    background: #fed136
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #fed136
}

/* 09. Swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
.swiper-carousel{
    .item-wrap{
        width: 100%;
    }
    .item{
        margin-bottom: 0px !important;
    }
    .btn{
        margin-top: 0px;
    }
    .swiper-button-prev{
        left: 60px;
    }
    .swiper-button-next{
        right: 60px;
    }
}
.swiper-pagination{
    position: relative;
    .swiper-pagination-bullet{
        border:1px solid #ccc;
        margin: 0 2.5px;
    }
    .swiper-pagination-bullet-active{
        background: #ccc;
    }
}
.swiper-simple{
    .item{
        margin-bottom: 0px !important;
    }
    .swiper-container{
    }
}
.swiper-container-horizontal > .swiper-pagination{
    position: relative;
    bottom:-45px;
    .swiper-pagination-bullet{
        border:1px solid #ccc;
    }
    .swiper-pagination-bullet-active{
        background: #ccc;
    }
}

/* 10 - About */

.about{
    background-color: rgba(75, 179, 210, 0.95);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    z-index: -1;
    h4{
        color: #fff;
        font-size: 3em;
        margin-bottom: 15px;
        font-weight: 400;
    }
    a{
        margin-top: 15px;
    }
    .steps{
        h1{
            color: #fff;
            margin: 0;
            font-size: 2.25em;
            margin-bottom: 15px;
        }
        h2{
            color: #fff;
            margin: 0;
            font-size: 2em;
        }
        p{
            font-size: 1.333em;
            color: #fff;
        }
        .fa{
            color: #fff;
            font-size: 80px;
            margin: 20px 0;
        }
        
    }
    a.toggle-about{
        cursor: pointer;
        font-size: 2em;
        position: absolute;
        right: 35px;
        text-align: right;
        top: 80px;
        width: auto;
        color: #fff;
    }
}
.about.show{
    opacity: 1;
    z-index: 1000;
    label {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px;
        max-width: 100%;
        text-transform: uppercase;
    }
    .box{
        text-align: left;
    }
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    margin: 0;
    transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    text-align: center;
}

/* 11 - Menu */

nav.menu .menu-collapse {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(75, 179, 210, 0.95);
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
nav.menu .menu-collapse.show{
  opacity: 1;
  z-index: 1000;
}

nav.menu .menu-collapse ul.menu-nav {
  width: 100%;
  text-align: center;
  list-style: none;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  opacity: 0;
  margin-top: 50px;
  transition: all 1s ease 0s;
  -webkit-transition: all 1s ease 0s;
  .mini-about{
    p{
        text-align: left;
        color: #fff;
        font-size: 2.5em;
        line-height: 1.25em;
    }
  }
}

.menu-nav > li{
  float: none;
}
.menu-nav > li > a{
  line-height: 1;
}
nav.menu .menu-collapse.show ul.menu-nav {
  opacity: 1;
  margin-top: 0;
}
nav.menu .menu-collapse ul.menu-nav li a {
  font-family: 'Roboto';
  color: #fff;
  font-size: 5em;
  text-decoration: none;
  font-weight: 200;
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
}

nav.menu .menu-collapse ul.menu-nav li a:hover, nav.menu .menu-collapse ul.menu-nav li a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

nav.menu .menu-social-link {
  display: inline-block;
  height: 40px;
  margin: 10px 5px 0 5px;
  text-align: center;
  width: 40px;
}

nav.menu .menu-social-link span {
  border: 2px solid #fff;
  border-radius: 100%;
  display: block;
  height: 100%;
  opacity: 0.75;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  width: 100%;
}

nav.menu .menu-social-link span .fa {
  color: #fff;
  font-size: 20px;
  margin-top: 8px;
}

nav.menu .menu-social-link:hover span {
  border: 3px solid #fff;
  color: #fff;
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

nav.menu .menu-social-link:hover .fa {
  color: #fff;
}