/* 01. General */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@font-face {
    font-family: 'DINPro-Light';
    src: url(asset-path('DINPro-Light.eot') + "?#iefix") format('embedded-opentype'), url(asset-path('DINPro-Light.woff')) format('woff'),
         url(asset-path('DINPro-Light.ttf'))  format('truetype'),
         url(asset-path('DINPro-Light.svg') + "#DINPro-Light") format('svg');
}
@font-face {
    font-family: 'DINPro-Regular';
    src: url(asset-path('DINPro-Regular.eot') + "?#iefix") format('embedded-opentype'),
         url(asset-path('DINPro-Regular.woff')) format('woff'), 
         url(asset-path('DINPro-Regular.ttf'))  format('truetype'),
         url(asset-path('DINPro-Regular.svg') + "#DINPro-Regular") format('svg');
}
@font-face {
    font-family: 'DINPro-Bold';
    src: url(asset-path('DINPro-Bold.eot') + "?#iefix") format('embedded-opentype'),
         url(asset-path('DINPro-Bold.woff')) format('woff'), 
         url(asset-path('DINPro-Bold.ttf'))  format('truetype'),
         url(asset-path('DINPro-Bold.svg') + "#DINPro-Bold") format('svg');
}
html{
    height: 100%;
    min-height:100%;
}
body{
	position: absolute;
	width: 100%;
	height: 100%;
    min-height:100%;
	margin:0;
	font-family: 'Roboto', helvetica, arial, sans-serif;
	font-size: 13px;
    background-color: #fff;
}
.wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.site-canvas{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 76px;
}
.show-nav .site-canvas {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
  
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}

h1, h2, h3, h4, p{
	margin: 0;
}
h1{
    font-family: 'Roboto', helvetica, arial, sans-serif; 
    font-weight: 300;
    font-size: 2.625em;
}
h2{
    font-family: 'Roboto', helvetica, arial, sans-serif; 
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.5;
}
h3{
   font-weight: normal;
   font-size: 1.125em;
}
p{
   font-family: 'Roboto', helvetica, arial, sans-serif; 
   font-weight: normal;
   font-weight:300;
   margin-top: 1em;
   line-height:1.75;
}
a{
   font-family: 'Roboto', helvetica, arial, sans-serif; 
   font-weight: normal;
   font-weight:300;
}
.container{
    width: 90%;
}
.row{
    margin: 0;
};
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
}
a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}
a:focus {
    outline: 0px;
}


/* 02. Nav */

.alert, .notice{
	margin:0;
	padding: 0;
    border:0;
}
.navigation{
    background-color: #fff;
    -webkit-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    -moz-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    -o-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    -ms-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    width: 100%;
    top: 0;
    padding: 1.5em 2.5em;
    z-index: 1000;
    position: fixed;
    border-bottom:1px solid #f3f3f3;
    .logo{
        float: left;
        background-position: top center;
        background-repeat: no-repeat;
        background-image: image-url("logo_cyan.svg");
        background-size:cover;
        width: 100%;
        max-width: 203px;
        height: 34px;
    }
    .menu{
        float: right;
        margin-top: .3em;
        a{
            -webkit-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            -moz-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            -o-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            -ms-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            color: #4bb3d2;
            padding: .35em .5em;
            font-size: 1.25em;
            font-weight: 200;
            float: left;
        }
        button{
            -webkit-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            -moz-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            -o-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            -ms-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
            transition: all 800ms cubic-bezier(.77, 0, .175, 1);
                    font-size: 1.385em;
            font-weight: 100;
            float: left;
            margin: 0 1em;
        }
    }
}
.navigation.white{
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
    .logo{
        background-image: image-url("logo_cyan.svg");
    }
    a{
        color: #4BB3D2;
    }
    button{
        color: #4BB3D2;
        border-color: #4BB3D2;
    }
    .categories{
        opacity: 1;
    }
}
.navbar{
	margin: 0;
}
.navbar-fixed-top{
	border: 0px;
}
.navbar-inverse{
	background-color: transparent;
}
.site-menu {
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -80%;
    background: #4bb3d2;
    padding: 2.5em 2.5em 2.5em 2.5em;
    a{
        color: rgba(255,255,255,0.5);
        font-size: 2.5em;
        display: block;
    }
    a.toggle-nav{
        font-size: 1em;
        margin-bottom: 5em;
    }
    a:hover, a:active{
        color: #fff;
    }
    a.mini{
        font-size: 1em;
        margin-top: .25em;
    }
}
.site-menu.show{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.categories{
    opacity: 0;
    -webkit-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    -moz-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    -o-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    -ms-transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    transition: all 800ms cubic-bezier(.77, 0, .175, 1);
    .cat{
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items:center;
        .icon{
            text-align: center;
            img{
                width: 62%;
                height: auto;
            }
        }
        .text{
            p{
                text-transform: uppercase;
                margin:0;
                line-height: 1;
            }
        }
    }
    .cat.transport{
        color: #3F799E;
    }
    .cat.development{
        color: #F78406;
    }
    .cat.environment{
        color: #03D84F;
    }
    .cat.people{
        color: #05DDDD;
    }
    .cat.community{
        color: #8B4B9D;
    }
    .cat.innovation{
        color: #EAC324;
    }
}
.categories.full{
    border-bottom: 1px solid #f3f3f3;
    padding: 1.5em 2.5em;
    opacity: 1;
    .cat{
        .icon{
            img{
                width: 85%;
                height: auto;
            }
        }
    }
}
/* 03. Buttons */

.btn{
    border-radius: 2em;
}
.btn-default {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn-default:focus, .btn-default.focus {
    background-color: #fff;
    border-color: #fff;
    color: #c0c0c0;
}
.btn-default:hover {
    background-color: #fff;
    border-color: #fff;
    color: #c0c0c0;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-color: #fff;
    border-color: #fff;
    color: #c0c0c0;
}

/* 04. BXSlider */

.bx-prev{
    width: 31px;
    height: 31px;
    border:1px solid #c0c0c0;
    color: #c0c0c0;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 4px;
    line-height: 1.1;
}
.bx-next{
    width: 31px;
    height: 31px;
    border:1px solid #ccc;
    color: #ccc;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding: 4px;
    line-height: 1.1;
}
.bx-prev:hover, .bx-next:hover {
    border:2px solid #ccc;
    text-decoration: none;
    color: #c0c0c0;
    padding: 3px;
}
.bx-prev:focus, .bx-next:focus {
    border:1px solid #ccc;
    text-decoration: none;
    color: #c0c0c0;
    padding: 4px;
}
.bx-wrapper .bx-controls-direction a{
    line-height: 1.1;
}
.bx-wrapper{
    margin: 0;
}
.bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    left: 0px;
}
.bx-wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: 3em;
}
.bx-wrapper .bx-controls-direction a {
    z-index: 1000;
    height: 31px;
    width: 31px;
    margin-top: -15.5px;
    text-indent: inherit;
    color: #fff;
    border-color: #fff;
}
.bx-wrapper .bx-prev {
    background: transparent;
    left: 3em;
}
.bx-wrapper .bx-next {
    background: transparent;
    right: 3em;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border:1px solid #fff;
    border-radius: 5px;
    display: block;
    height: 10px;
    margin: 0 5px;
    outline: 0 none;
    text-indent: -9999px;
    width: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #fff;
}

/* 05. Footer */

.footer{
    background-color: #4BB3D2;
    text-align: center;
    padding: 6em 0;
    .box{
        padding: 6em 3em;
    }
    h1{
        color: #fff;
        font-size: 2em;
        letter-spacing: -0.038em;
        font-weight: 100;
        margin-bottom: .25em;
    }
    a{
        font-size: 1.385em;
        font-weight: 100;
        color: #fff;
        padding:0 .5em;
        font-weight: 100;
    }
    p{
        margin-top: 3em;
        font-size: 1.385em;
        font-weight: 100;
        color: #fff;
        span{
            font-weight: 600;
        }
    }
}

/* 06. Common elements */

.action{
    border-right:1px solid #9c9c9c;
    float: left;
    padding: 0 .85em;
    a.icon{
        color:#9c9c9c;
    }
}




.title{
    background-color: #fff;
    padding:2.5em;
    text-align: center;
    h1{
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: -0.038em;
        span{
            font-weight: 500;
        }
    }
}

/* 07. Featured */

.cyan{
    background-color: #4BB3D2;
}
.featured{
    background: #fff;
    .slide{
        border:none !important;
    }
    .info{
        padding-top: 2.5em;
        .row{
            padding:0 2.5em;
        }
        a, h1{
            font-size: 2.875em;
            color: #2c2c2c;
            line-height: 1;
            font-weight: 100;
            letter-spacing: -0.038em;
        }
        a:hover{
            color: #4bb3d2;
        }
        a.cat-icon{
            font-size: 1em;
            vertical-align: middle;
            text-transform: uppercase;
            padding-top: .5em;
            img{
                width: 24px;
                height: 24px;
                margin-right: .5em;
                float: left;
            }
        }
        p{
            font-size: 1em;
            margin-top: 1em;
            color: #6c6c6c;
        }
        p.date{
            color: #9c9c9c;
            margin: 0 0 .5em 0;
        }
        .bottom{
            position: relative;
            padding-bottom: 2.5em;
            width: 100%;
            p{
                color: #2c2c2c;
                padding: 0 0 .25em 0;
                margin: 0;
                font-size: 1em;
            }
            p.category{
                text-transform: uppercase;
            }
            p.user{
                color: #9c9c9c;
                margin: 0;
                text-align: right;
                .icon{
                    color: #9c9c9c;
                    font-size: 1.25em;
                    margin: 0;
                    text-align: right;
                }
                a{
                    font-size: 1em;
                    color: #4bb3d2;
                    font-weight: 300;
                    margin: 0.25em 0 0 0.5em;
                }
            }
        }
        button{
            margin-top: 1.5em;
            padding-right: 1em;
        }
        .actions-box{
            text-align: center;
            .actions{
                border:1px solid #9c9c9c;
                border-radius: 20px;
                display: inline-block;
                padding: 0 .5em;
                .action{
                    padding: 0 1em;
                    a.icon{
                        font-size: 1.25em;
                        color: #9c9c9c;
                        margin: 0.25em 0;
                        float: left;
                        p{
                            float: right;
                            margin: -0.175em 0 0 .3em;
                            padding: 0;
                            color: #9c9c9c;
                            font-size: .9em;
                        }
                    }
                }
                .action:last-child{
                    border:none;
                }
            }
        }
    }
    .photo {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 480px;
    }
}
@media (min-width: 768px){
    .navigation{
        .menu{
            a{
                padding: 0.35em 1em;
            }
        }
    }
    .featured{
        .slide{
            height: 480px;
        }
        .info{
            .bottom{
                position: absolute;
                bottom:0;
            }
            a.cat-icon{
                img{
                    width: 34px;
                    height: 34px;
                }
            }
        }
    }
    body{
        font-size: 14px;
    }
    .navigation{
        .logo{
            height: 47px;
        }
    }
    .site-menu {
        width: 50%;
        right: -50%;
    }
    .site-canvas{
        margin-top: 89px;
    }
    .footer{
        h1{
            font-size: 3.75em;
        }
    }
}
@media (min-width: 1200px){
    body{
        font-size: 15px;
    }
    .site-menu {
        width: 25%;
        right: -25%;
    }
    .site-canvas{
        margin-top: 96px;
    }
    .navigation{
        .logo{
            height: 47px;
        }
    }
}
@media (min-width: 1440px){
    body{
        font-size: 16px;
    }
}