@charset "UTF-8";

@font-face {
  font-family: "thinksmart";
  src:url(asset-path("thinksmart.eot"));
  src:url(asset-path("thinksmart.eot") + "?#iefix") format("embedded-opentype"),
    url(asset-path("thinksmart.woff")) format("woff"),
    url(asset-path("thinksmart.ttf")) format("truetype"),
    url(asset-path("thinksmart.svg") + "#thinksmart") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon{
  font-size: 1em;
  display: inline-block;
}
[data-icon]:before {
  font-family: "thinksmart" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "thinksmart" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubble-comment-streamline-talk:before {
  content: "a";
}
.icon-map-pin-streamline:before {
  content: "b";
}
.icon-map-streamline-user:before {
  content: "c";
}
.icon-man-people-streamline-user:before {
  content: "d";
}
.icon-link-streamline:before {
  content: "e";
}
.icon-like-love-streamline:before {
  content: "f";
}
.icon-earth-globe-streamline:before {
  content: "g";
}
.icon-envellope-mail-streamline:before {
  content: "h";
}
.icon-menu:before {
  content: "i";
  margin-top:.25em;
}
.icon-search:before {
  content: "j";
}


.icon-comment:before {
  content: "a";
}
.icon-map-pin-streamline:before {
  content: "b";
}
.icon-map-streamline-user:before {
  content: "c";
}
.icon-man-people-streamline-user:before {
  content: "d";
}
.icon-link-streamline:before {
  content: "e";
}
.icon-like-love-streamline:before {
  content: "f";
}
.icon-earth-globe-streamline:before {
  content: "g";
}
.icon-envellope-mail-streamline:before {
  content: "h";
}
.icon-menu:before {
  content: "i";
}
.icon-search:before {
  content: "j";
}
.icon-advance:before {
  content: "k";
}
.icon-status:before {
  content: "l";
}
.icon-target:before {
  content: "m";
}
.icon-action:before {
  content: "n";
}
.icon-app:before {
  content: "o";
}
.icon-politic-2:before {
  content: "p";
}
.icon-service:before {
  content: "q";
}
.icon-politic:before {
  content: "r";
}
.icon-thinksmart:before {
  content: "s";
}
.icon-development:before {
  content: "t";
}
.icon-environment:before {
  content: "u";
}
.icon-innovation:before {
  content: "v";
}
.icon-people:before {
  content: "w";
}
.icon-transport:before {
  content: "x";
}
.icon-1:before {
  content: "x";
  margin: 0px 5px 0 0 !important;
  float: left;
  font-size: 1.25em;
}
.icon-2:before {
  content: "t";
  margin: 0px 5px 0 0 !important;
  float: left;
  font-size: 1.25em;
}
.icon-3:before {
  content: "u";
  margin: 0px 5px 0 0 !important;
  float: left;
  font-size: 1.25em;
}
.icon-4:before {
  content: "w";
  margin: 0px 5px 0 0 !important;
  float: left;
  font-size: 1.25em;
}
.icon-5:before {
  content: "w";
  margin: 0px 5px 0 0 !important;
  float: left;
  font-size: 1.25em;
}
.icon-6:before {
  content: "v";
  margin: 0px 5px 0 0 !important;
  float: left;
  font-size: 1.25em;
}
.icon.cat1{
  color: #3F799E;
}
.icon.cat2 {
  color: #F78406;
}
.icon.cat3{
  color: #03D84F;
}
.icon.cat4{
  color: #05DDDD;
}
.icon.cat5{
  color: #8B4B9D;
}
.icon.cat6{
  color: #EAC324;
}

